<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <meta charset="UTF-8" />
    <title>Biblioteca Recanto da Lagoa</title>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <script th:replace="fragmentos/header :: jquery"/>
    <script th:replace="fragmentos/header :: jqueryui"/>
    <script th:replace="fragmentos/header :: bootstrap-js"/>
    <script th:replace="fragmentos/header :: query-string-js"/>

        <link rel="stylesheet" type="text/css" href="css/principal.css"/>

</head>
<body>


<div class="quadro">
    <div class="header-quadro"></div>
    <div class="centro-quadro">
        <div class="categoria">
            <div class="header-categoria"></div>
            <div class="centro-categoria"></div>
            <div class="footer-categoria"></div>
        </div>
        <div class="prateleiras">
            <div class="prateleira"></div>
            <div class="prateleira"></div>
            <div class="prateleira"></div>
        </div>

    </div>
    <div class="footer-quadro"></div>
</div>

</body>
</html>