<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <meta charset="UTF-8" />
    <title>Biblioteca Recanto da Lagoa</title>

    <link th:replace="fragmentos/header :: bootstrap-css" />
    <link th:replace="fragmentos/header :: jqueryui-css" />
    <link th:replace="fragmentos/header :: principal-css" />
    <link th:replace="fragmentos/header :: favicon-ico"/>
    <link th:replace="fragmentos/header :: busca-icon" />
    <link th:replace="fragmentos/header :: busca-css"/>
    <script th:replace="fragmentos/header :: jquery"/>
    <script th:replace="fragmentos/header :: jqueryui"/>
    <script th:replace="fragmentos/header :: bootstrap-js"/>
    <script th:replace="fragmentos/header :: query-string-js"/>
    <script th:replace="fragmentos/header :: busca"/>
    <script type="text/javascript" src="/js/home.js"/>

</head>
<body>

<nav th:replace="fragmentos/header :: cabecalho"></nav>
    <p> Biblioteca Recanto da Lagoa </p>

</body>
</html>